#container {
	margin: 0 auto;
	width: 900px;
}

#mainTitle {
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	text-shadow: 2px 2px #4F4F4F;
	font-family: 'Lora', serif;
	Font-Size: 25px;
	color: #ffffff
}

body {
	background-color: #718797;
}

#contentOne {
	font-family: 'Montserrat', sans-serif;
	Font-Size: 18px;	
	color: #FFFFFF;
	text-align: center;
	align-content: center;
}

#contentOne h3 {
	text-shadow: 2px 2px #4F4F4F;
	font-size: 30px;
}

#contentTwo p {
	font-style: normal;
}

#contentThree h3 {
	text-shadow: 2px 2px #4F4F4F;
	font-family: 'Lobster', cursive;
	font-size: 33px;
}

#contentThree {

}